

test/
typings/
syntaxes/*.yaml
src/
snippets/*.yaml
node_modules/
.vscode/launch.json
.vscode/settings.json
.vscode/tags
.vscode/tasks.json
.github/
package-lock.json
tsconfig.json
.gitignore
.gitpod.yml
out/src/
out/test/